/test/

/.vscode/

# Ignore everything in "Serial bitonic sort" folder
/Serial bitonic sort/*

# But allow .c files
!/Serial bitonic sort/*.c
!/Serial bitonic sort/*.md

# Ignore everything in "Serial bitonic sort" folder
/OpenMP_Bitonic Sort/*

# But allow .c files
!/OpenMP_Bitonic Sort/*.c



# Ignore everything in "Serial bitonic sort" folder
/MPI parallel bitonic sort/*

# But allow .c files
!/MPI parallel bitonic sort/*.c

# Ignore everything in "Serial bitonic sort" folder
/CUDA bitonic sort for int arrays/*

# But allow .c files
!/CUDA bitonic sort for int arrays/*.cu
!/CUDA bitonic sort for int arrays/*.md

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.hypothesis/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/
.idea/
*.swp
*.swo
*~